.souscription {
 .arbitrage{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid map-get($colors, primary);
    margin-bottom: 5px;
    }
}
